<html ng-app="miapp">
<head>
<style type="text/css">
	
	.azul {

		color:blue;
	}

	.verde {

		color:green;
	}

</style>

<script src="angular.min.js">


</script>

<script>
angular.module("miapp",[]).controller("controladorHola",function($scope){

persona1={};
persona1.nombre="pepe";
persona1.apellidos="perez";



persona2={};
persona2.nombre="ana";
persona2.apellidos="sanchez";

persona3={};
persona3.nombre="maria";
persona3.apellidos="gomez";

persona4={};
persona4.nombre="david";
persona4.apellidos="martinez";

$scope.listaPersonas=[];
$scope.listaPersonas.push(persona1);
$scope.listaPersonas.push(persona2);
$scope.listaPersonas.push(persona3);
$scope.listaPersonas.push(persona4);


$scope.personaNueva={nombre:"miguel",apellidos:"sanchez"};

console.log($scope.listaPersonas);

$scope.pulsarItem=function(persona) {

		$scope.personaSeleccionada=persona;

}

$scope.nuevo=function() {

	$scope.listaPersonas.push(angular.copy($scope.personaNueva));
}

});

</script>
</head>
<body ng-controller="controladorHola">

<p ng-repeat="persona in listaPersonas" ng-class="$even ?  'azul':'verde'" 
ng-click="pulsarItem(persona)">

{{$index+1}} {{persona.nombre}}{{persona.apellidos}}

</p>

<p>nombre:
<input type="text" ng-model="personaSeleccionada.nombre"/></p>
<p>apellidos:<input type="text" ng-model="personaSeleccionada.apellidos"/></p>

<input type="button" ng-click="nuevo()" value="nuevo" />


</body>
</html>
